<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script type="text/javascript" src="/bootstrap.js" async></script>
</head>
<body>
    <h1>
        There's something wrong with your internet connection.
    </h1>
    <p>
        It looks like you're not connected to the internet at the moment. Verify your internet connection and try to refresh the page.
    </p>
</body>
</html>
